 

{% extends "layout.html" %}

{% block content %}
		<div class="  demo-1">	
	 
				{% include "men_principal.html" %}
	 
			<div class="main clearfix">
			 
				<div class="card text-center">
					<div class="card-header">
					  <ul class="nav nav-pills card-header-pills">
						<li class="nav-item">
						   
							<div class=" nav-link btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
								Método Monte Carlo
							  </button>
							  <ul class="dropdown-menu">
								<li><a class="dropdown-item" href="{{ url_for('metsim_api.montecarlo_aditivo') }}">Por congruencial aditivo</a></li>
								<li><a class="dropdown-item" href="{{ url_for('metsim_api.montecarlo_multiplicativo') }}">Por congruencial multiplicativo</a></li>
							 
							  </ul>
							</div>
						  </li>
						  <li class="nav-item">
						   
							<div class=" nav-link btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
								Método de la transformada inversa
							  </button>
							  <ul class="dropdown-menu">
								<li><a class="dropdown-item"href="{{ url_for('metsim_api.transformada_inversa_aditivo') }}">Por congruencial aditivo</a></li>
								<li><a class="dropdown-item" href="{{ url_for('metsim_api.transformada_inversa_multiplicativo') }}">Por congruencial multiplicativo</a></li>
							 
							  </ul>
							</div>
						  </li>
					  </ul>
					</div>
					<div class="card-body">
					  <h5 class="card-title">Métodos de Simulación</h5>
					  <p class="card-text">
						La simulación es el producto de: El estudio del Sistema, la Modelación de los componentes del sistema, la utilización de Técnicas y herramientas
						estadísticas, números aleatorios y pronósticos para obtener un completo informe de resultados junto con la utilización de un
						Lenguaje de programación que nos permita realizar el análisis de datos. Esta es una valiosa herramienta que puede para una amplia variedad de
						 problemas prácticos de la via real.

					  </p>
						<p class="card-text"> <iframe width="727" height="409" src="https://www.youtube.com/embed/yx7lbNHKL5s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
					</div>
				  </div>
			</div>
		</div> 

{% endblock %}
